body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/SnowGate.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    overflow-x: hidden;
    padding-bottom: 50px;
    font-size: 18px;
}

.navbar {
    display: flex;
    padding: 0px 20px;
    justify-content: flex-start;
    font-size: 18px;
    height: 60px;
    align-items: center;    
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
    left: 0;
    min-width: 250px; /* Ensure content doesn't overflow */
}

.dropdown-content .dropdown-section {
    margin-bottom: 10px; /* Add some space between sections */
}

.dropdown-content .title {
    background-color: #333;
    color: #fff;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    display: inline-block;
}

.dropdown-content .report-list {
    display: flex;
    flex-direction: column; /* Make the reports appear vertically */
    margin-top: 5px; /* Add space between title and report links */
}

.dropdown-content .report-list a {
    color: #333;
    padding: 8px 15px;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content .report-list a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown when hovering */
}
