body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #FFFFFF;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    background-color: #0E1B3A;
    overflow: hidden;
    padding: 10px 20px;
    justify-content: flex-start;
    font-size: 18px;   /* Increase the text size */
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 12px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    color: white;
    font-size: 20px;   /* Increase the text size */
    font-weight: bold; /* Make the text bold */
    font-style: italic; /* Make the text italic */
}

.navbar a.active:hover {
    background-color: transparent; /* No background color change on hover */
    color: white; /* Keep the text color white */
}


h1 {
    padding: 10px;
}

p {
    padding: 0 20px 20px 20px;
}
