<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Horizontal Menu Bar -->
    <nav class="navbar">
        <div class="navbar-title">
            <h1>techOps sphere</h1>
        </div>
        <ul class="navbar-menu">
            <li><a href="/"></a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/request">Request</a></li>
            <li><a href="/brands">Brands</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div class="content">
        <!-- Text at the extreme left within page content -->
        <div class="left-text">
            techOps sphere - Gateway to unlock insights & drive efficiency with TechOps data and reporting
        </div>
        <!-- Add Image -->
        <img src="/static/Snowgate.png" alt="Snowgate Image" style="width: 100%; height: 700px; display: block;">
        <!-- Content goes here -->
    </div>
</body>
</html>