<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Webpage</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="no-hover">techOps sphere</a>
        <div class="dropdown">
            <a href="#reports" class="dropbtn" id="reportButton">Reports</a>
            <div class="dropdown-content" id="dropdown-content">
                <a href="#performance-reports">O&L Tech Ops Performance Reports</a>
                <a href="#overall-insights">Overall Technology Operational Insights</a>
                <a href="#terminal-insights">Terminal Insights</a>
                <a href="#upcoming-reports">Upcoming Reports</a>
            </div>
        </div>
        <a href="#brands">Brands</a>
        <a href="#success-stories">Success Stories</a>
        <a href="#documentation">Documentation</a>
        <a href="#about-us">About Us</a>
        <a href="#feedback">Feedback</a>
        <a href="#request">Request</a>
    </div>

    <h1>techOps sphere -</h1>
    <p>Gateway to unlock insights & drive efficiency with TechOps data and reporting.</p>

    <!-- JavaScript to manage active state -->
    <script>
        // Function to set the "active" class
        function setActiveClass(event) {
            // Remove "active" class from all menu items
            document.querySelectorAll('.navbar a').forEach(function(link) {
                link.classList.remove('active');
            });

            // Add "active" class to the clicked menu item
            event.target.classList.add('active');
        }

        // Attach click event listener to all menu items
        document.querySelectorAll('.navbar a').forEach(function(link) {
            link.addEventListener('click', setActiveClass);
        });
    </script>
</body>
</html>