<div class="navbar">
    <a href="/" class="no-hover">insights sphere</a>
    <div class="dropdown">
        <a href="#reports" class="dropbtn" id="reportButton">Reports</a>
        <div class="dropdown-content" id="dropdown-content">
            <div class="dropdown-section">
                <div class="title">O&L Tech Ops Performance Reports</div>
                <div class="report-list">
                    <a href="/report1">Monthly 2inBox Ops Excellence Report</a>
                    <a href="/report2">Weekly Ops Excellence Report</a>
                    <a href="/report3">Platform Spotlight Update</a>
                </div>
            </div>
            <div class="dropdown-section">
                <div class="title">Overall Technology Operational Insights</div>
                <div class="report-list">
                    <a href="/report4">Enterprise Tech Update</a>
                </div>
            </div>
            <div class="dropdown-section">
                <div class="title">Terminal Insights</div>
                <div class="report-list">
                    <a href="/report5">Terminal Operations Monthly Report</a>
                    <a href="/report6">Terminal Performance Overview</a>
                </div>
            </div>
            <div class="dropdown-section">
                <div class="title">Upcoming Reports</div>
                <div class="report-list">
                    <a href="/report7">Future Technology Initiatives</a>
                    <a href="/report8">Roadmap Insights</a>
                </div>
            </div>
        </div>
    </div>
    <a href="#brands">Brands</a>
    <div class="dropdown success-stories-dropdown">
        <a href="#success-stories" class="dropbtn">Success Stories</a>
        <div class="dropdown-content">
            <a href="/snowgate">SnowGate</a>
            <a href="/topvista">TOPVista</a>
        </div>
    </div>
    <a href="https://maersk-tools.atlassian.net/wiki/spaces/S/overview" target="_blank">Documentation</a>
    <a href="#about-us">About Us</a>
    <a href="https://insightshub.maersk-digital.net/form/feedback/3bea0ee4-1c3c-45a7-b37d-04ac393a5ac2?as-embed-variant=scroll">Feedback</a>
    <a href="https://insightshub.maersk-digital.net/feature-suggestions/raise-feature-suggestions/e5791bd9-21f6-411d-b81a-5624fce2262e">Request</a>
    <!-- {% if user_name and user_email %}
    <div class="user-info">
        <span>{{ user_name }} ({{ user_email }})</span>
        <a href="/logout">Logout</a>
    </div>
    {% else %}
    <a href="/login">Login</a>
    {% endif %} -->

</div>

<!-- <div id="user-display" style="position: absolute; top: 10px; right: 10px;"></div>

-- Login Modal 
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeLoginModal()">&times;</span>
        <h2>Login</h2>
        <form method="post" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</div> -->