<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly 2inBox Ops Excellence Report</title>
</head>
<body>
    <div class="navbar">
        <a href="/" class="no-hover">techOps sphere</a>
        <a href="/report1">Monthly 2inBox Ops Excellence Report</a>
        <a href="/report2">Weekly Ops Excellence Report</a>
        <a href="/report3">Platform Spotlight Update</a>
    </div>

    <h1>Weekly Ops Excellence Report</h1>

    <iframe 
        src="https://app.powerbi.com/reportEmbed?reportId=7ebc15f6-84cd-4767-901a-b8a64795ce7c&autoAuth=true&ctid=05d75c05-fa1a-42e7-9cf1-eb416c396f2d" 
        width="100%" 
        height="800" 
        frameborder="0" 
        allowFullScreen="true"></iframe>
</body>
</html>